*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bd {
  display: grid;
  grid-template-columns: auto;
  background-image: linear-gradient(-45deg, #c23616, #0097e6);
}

.container {
  border: white solid 2px;
  max-width: 500px;
  width: 100%;
}

.header {
  padding: 5px;
  margin: 8px;
  background: #ccc;
  border-radius: 4px;
}

.bl {
  display: block;
}

.ct {
  padding: 4px;
  margin: 10px;
}

.pad {
  padding: 10px;
}
